@font-face{
    src: url("fonts/PressStart2P-Regular.ttf");
}

@font-face{
    src: url("fonts/DotGothic16-Regular.ttf");
}

@font-face{
    src: url("fonts/SUPERSCR.TTF");
}

@font-face{
    src: url("fonts/visitor2.ttf");
}

@font-face{
    src: url("fonts/VT323-Regular.ttf");
}

.root {
    -fx-background-color: "darkgrey";
}

.label {
    -fx-font-family: 'DotGothic16';
    -fx-font-size: 50;
}

.button {
    -fx-font-family: 'Visitor TT2 BRK';
    -fx-font-size: 25;
}